/* CSS Document */
*{
	margin:0;
	padding:0;}/*我们初学阶段可以使用*去除内外边距，在项目中一般有选择性的去除。*/
body{
	font-family:"MILT_RG";
	font-size:14px;
	color:#000;}
a{
	text-decoration:none;}
ul{
	list-style-type:none;}
.clear{
	clear:both;}
img{
	border:none;}
/*head*/
#head{
	height:49px;
	line-height:49px;
	background:#000;}
#head_left{
	float:left;
	padding:16px 0 0 50px;}
#head_right{
	float:right;
	padding-right:50px;}
#head_right ul li{
	display:inline;
	padding:0 16px;}
#head_right ul li a{
	color:#dddddd;}
#head_right ul li a:hover{
	color:#868686;}
/*xm_con_1*/
#xm_con_1{
	height:796px;
	background: #eee url(../imges/miui7.5-001.jpg) no-repeat center center;
text-align:center;
overflow:hidden;}/*溢出隐藏  在这里解决子元素用margin会让父元素也一起移动的问题*/
#xm_con_1_m{
	position:relative;
	top:200px;}
#xm_con_1_m a{
	display:block;
	height:36px;
	width:154px;
	color:#636363;
	border:1px solid #828282;
	border-radius:20px;/*有兼容性的问题，是css3的特性	IE7和IE8 没有*/
	margin:35px auto;
	line-height:36px;}
#xm_con_1_m p{
	font-size:18px;
	color:#878787;
	line-height:30px;}
/*xm_con_2*/	
#xm_con_2{
	height:1280px;
	background:url(../imges/miui7.5-031.jpg) no-repeat center center;
	text-align:center;
	overflow:hidden;}
#xm_con_2_m{
	margin-top:80px;}
#xm_con_2_m h2{
	font-size:36px;
	font-weight:100;
	line-height:90px;}
#xm_con_2_m p{
	color:#9e9d9b;
	font-size:18px;
	line-height:30px;}
/*xm_con_3*/
#xm_con_3{
	height:7330px;
	padding-top:110px;
	text-align:center;}
#xm_con_3 h2{
	color:#585858;
	font-size:36px;
	font-weight:100;
	margin-bottom:30px;}
#xm_con_3 p{
	color:#8d8d8d;
	font-size:18px;
	line-height:30px;
	letter-spacing:1px;}
#xm_con_3  p.zs{
	color:#b8b8b8;
	font-size:16px;
	margin-top:25px;}
#xm_con_3_sj{
	margin:0 auto;
	margin-top:35px;
	width:1240px;
	height:800px;
	background:url(../imges/miui7.5-002.jpg) center center no-repeat;
	overflow:hidden;}
#xm_con_3_sj ul{
	margin-top:760px;}
#xm_con_3_sj ul li{
	display:inline;
	font-size:18px;
	color:#8d8d8d;
	line-height:30px;
	}
.sj_1{
	position:relative;
	right:265px;}
	
.sj_2{
	position:relative;
	left:20px;}
.sj_3{
	position:relative;
	left:290px;}
#xm_con_3 h4{
	color:#585858;
	font-size:22px;
	line-height:30px;
	font-weight:100;
	margin-top:40px;}
#xm_con_3_gj{
	width:1125px;
	height:320px;
	margin:0 auto;
	margin-top:30px;
	background:url(../imges/miui7.5-004.jpg) no-repeat;
	overflow:hidden;}
#xm_con_3_gj ul{
	margin-top:295px;}
#xm_con_3_gj ul li{
	display:inline;
	font-size:18px;
	color:#8d8d8d;
	line-height:30px;
	padding:0 232px;}
#xm_zt{
	background:url(../imges/miui7.5-005.jpg) no-repeat center center;
	height:520px;
	width:1240px;
	margin:0 auto;
	text-align:center;
	margin-top:50px;


}	
#xm_con_3 h1{
	margin-top:200px;
	color:#585858;
	font-size:35px;
	font-weight:100;}
#xm_con_3 p.yys1{
	line-height:80px;
	color:#8D8D8D;
	font-size:18px;}
/*xm_con_yys*/

#xm_con_3 h1.a1{
	font-size:30px;
	font-weight:100;
	color:#757575;
	margin-top:80px;
	line-height:30px;
	}
#xm_con_3 p.yys2{
	font-size:15px;
	margin-top:25px;

	}
#xm_con_yys_1{
	height:684px;
	width:1240px;
	background:url(../imges/miui7.5-006.jpg) center center no-repeat;
	margin:0 auto;
	margin-top:100px;}
/*xm_con_3_sfr*/
#xm_con_3_sfr{
	background:url(../imges/miui7.5-007.jpg) center center no-repeat;
	height:626px;
	width:1240px;
	margin:0 auto;
	margin-top:100px;}
#xm_con_3 h1.srf{
	font-size:30px;
	font-weight:100;
	color:#757575;
	margin-top:100px;
}	
#xm_con_3 p.srf1{
	font-size:15px;
	margin-top:25px;
	letter-spacing:1px;	
	
		
	}	
#xm_con_3 p.srf2{
	font-size:14px;
	margin-top:25px;
	letter-spacing:1px;	
	color:#C8C8C8;
		
	}	

#xm_con_3_xfq{
	background:url(../imges/miui7.5-050.jpg) center center no-repeat;
	width:667px;
	height:541px;
	margin:0 auto;
	margin-top:150px;
	}
#xm_con_3 h1.b1{
	font-size:35px;
	font-weight:100;
	color:#757575;
	margin-top:100px;}
#xm_con_3 p.xfq{
	font-size:17px;
	margin-top:25px;
	letter-spacing:1px;	

	}
#xm_con_3_kph{
	background:url(../imges/miui7.5-008.jpg)  center center no-repeat;
	width:1194px;
	height:576px;
	margin:0 auto;
	margin-top:200px;}
#xm_con_3 h1.kph{
	font-size:35px;
	font-weight:100;
	color:#757575;
	margin-top:100px;}
#xm_con_3 p.kph1{
	font-size:17px;
	margin-top:25px;
	letter-spacing:2px;	
}
#xm_con_3 p.kph2{
	font-size:17px;
	letter-spacing:2px;	
}
#xm_con_3_mi{
	background:url(../imges/miui7.5-009.jpg) center center no-repeat;
	width:792px;
	height:661px;
	margin:0 auto;
	margin-top:100px;}
#xm_con_3 h1.m{
	font-size:35px;
	font-weight:100;
	color:#757575;
	margin-top:100px;}
#xm_con_3 p.m1{
	font-size:17px;
	margin-top:25px;
	letter-spacing:2px;	}
#xm_con_3 p.m2{
	font-size:17px;

	letter-spacing:2px;	}	
#xm_con_3 p.m3{	font-size:16px;
	margin-top:25px;
	letter-spacing:1px;	
	font-weight:100;
	color:#C8C8C8;}	
	
	
	
	
	



	
/*footer*/
#footer{
	height:160px;
	background-color:#f2f2f2;
	text-align:center;
	overflow:hidden;}
#footer ul{	margin-top:50px;}
#footer ul li{
	display:inline;
	color:#d9d9d9;
	padding-left:23px;
	line-height:30px;
}
#footer ul li a{
	padding-right:27px;
	color:#858585;}
#footer p{
	font-size:12px;
	line-height:30px;
	color:#c5c6c8;}
	